/* contact */

.contact {
    user-select: none;
	min-height:100vh;
	background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    justify-content: center;
    gap: 8px;
}

.contact__intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__intro_inner {
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px 0 20px 0;
    gap: 18px;
    justify-content: center;
}

.contact_item {
    display: flex;
    gap: 5px;
    align-items: center;
}

.contact_item:last-child{
    padding: 10px 20px;
    background-color: var(--Green);
    border-radius: 40px 5px 40px 5px;
}

.contact_item:last-child .contact_item_text{
    color: white;
}

.contact_item_text {
    color: black;
    font-size: 13px;
}



.contact_item_icon {
    width:13px;
}


.contacts__book {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.contact .wrapper {
    background: url(../../assets/img/jpg/intro/bg.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 1;
}

@media (max-width:640px){
    .contact .wrapper{
        padding: 30px 20px;
    }
}

@media (max-width:400px){
    .contact .wrapper {
        padding:40px 10px;
    }
}
.contacts__book .subtitle {
    text-align: center;
    color: black;
}

.contacts__book p {
    overflow: hidden;
}

.contacts__book_item a:hover {
    color: var(--activelink);
}

.recvizity {
    display: flex;
    gap: 10px;
    color: white;
}

@media (max-width:730px) {
    .long {
        max-width: 210px;
    }

}
.contacts__book_table {
    border-collapse: collapse;
}
.contacts__book_table td{
   padding: 8px 5px 8px 5px;
   width: 100%;
}
.contacts__book_table tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0.18);
}
i {
    color: black;
}