/* singl */
.singl {
    padding-top: 180px;
    transition: 0.2s ease-out;
    min-height: 100vh;
}
.singl h2 {
    text-align: center;
    
}

.singl h2::first-letter {
    text-transform: uppercase;
}

.singl .content {
    /* display: flex; */
    flex-direction: column;
    margin-top: 88px;
}

.singl .content img {
    float: left;
    margin: 0 16px 0 0;
    max-width: 48%;
    padding: 4px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.singl .post{
    text-align: justify;
}

.singl table {
    margin: 20px 0;
    width: 100%;
}

.singl table td {
    border: 1px solid var(--Black_blue);
    border-radius: 3px;
    width:  fit-content;
    background-color: white;
}

.singl table th {
    border-radius: 3px;
    color: var(--activelink);
    border: 1px solid var(--Black_blue);


}


@media (max-width:780px){

    .singl {
        padding: 80px 0;
    }

    .singl .content {
        margin-top: 40px;
    }

}


/* /singl */