/* blog_post */

.blog_post {
    padding: 300px 0 140px 0;
    background-color: white;
    /* background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%); */
    /* color: white; */
    text-transform: lowercase;
}

.blog_post *::first-letter {
    text-transform: uppercase;
}


.blog_post .subtitle {
    color: var(--activelink);    
}

@media (max-width:640px) {
    .blog_post {
        padding-top: 80px;
    }
}

.inner_blog_post {
    display: flex;
    flex-direction: column;
    gap: 180px;
}


.last-news__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    margin-bottom: 40px;
}

.last-news__img { 
    width: 100%;
    max-width: 45%;     
    position: relative;       
    padding: 4px;
    user-select: none;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);   
}

.last-news__content {   
    width: 100%;
    max-width: 45%; 
    display: flex;
    flex-direction: column;
    gap: 20px;

}

@media (max-width:1260px) {
    .last-news__img,
    .last-news__content {   
        max-width: 100%;    
    }
    .blog_post {
        padding: 80px 0;
    }
    .inner_blog_post {       
        gap: 40px;
    }
    .last-news__inner {
        gap: 20px;
    }
}

.last-news__img img {
    width: 100%;  
}

.last-news__date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--Green);
    width: 48px;
    height: 48px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0 50% 0;
}



.title_post {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text_post {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.last-news__button {
    margin: 0 auto;
}

.inner_arhiv_post {
    color: var(--Black_blue);
    display: flex;          
    margin: 0 auto; 
    flex-direction: column;
    padding: 40px 100px;
    background: url(../../assets/img/jpg/intro/bg.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 20px;
    gap: 15px;

}
@media (max-width:900px) {
    .inner_arhiv_post {
        padding: 40px 5px;
    }
}

.arhiv__news {
    display: flex;    
    gap: 16px;  
    justify-content: space-between;  
}


.date_post {
    color: var(--Gray);
    font-weight: 300;
    font-size: 16px;
    opacity: .6;
}

.arhiv__news a{    
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;    
}







/* /blog_post */
