/* contact */

.contact {
    padding-top: 50px;
}

.contact__intro {
    padding: 58px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Black_blue);
}

.contact__intro_inner {
    background: url(../../assets/img/jpg/intro/bg.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 20px;
    gap: 30px;
    justify-content: center;
}

.contact_item {
    display: flex;
    gap: 5px;
    align-items: center;

}

.contact_item_icon {
    width:42px;
}

@media (max-width:750px) {
    .contact_item {
        width: 265px;
    }
}




.contacts__book_inner {
    width: 100%;
    padding: 100px 0;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.contacts__book {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.contact .wrapper {
    background: url(../../assets/img/jpg/intro/bg.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 1;
}

@media (max-width:640px){
    .contact .wrapper{
        padding: 30px 20px;
    }
}

@media (max-width:400px){
    .contact .wrapper {
        padding:40px 10px;
    }
}





.contacts__book .subtitle {
    text-align: center;
    color: black;
}

.contacts__book p {
    overflow: hidden;
}

.contacts__book p span:first-of-type {
    float: left;
    margin-right: 10px;
}

.contacts__book p span:last-of-type {
    float: right;
    margin-left: 10px;
}

.contacts__book_item p:after {
    content: '..................................................................................................................................................................................................................................................................................................................................................................................................................';
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #999;
    font-size: 10px;
}

.contacts__book_item a:hover {
    color: var(--activelink);
}

.recvizity {
    display: flex;
    gap: 10px;
    color: white;
}

@media (max-width:730px) {
    .long {
        max-width: 210px;
    }

}


