/* footer */

footer {
    background-color: var(--Black_blue);
    color: white;
}

.footer__inner {
    padding: 40px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
}

  .lang{
    position: fixed;
    top: 13px;
    right: 13px;
  }



.logo {
    width: 140px;
    min-width: 140px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    padding: 5px;
}

.logo span{
    position: relative;
}

.logo span::before {
    content: url(../../assets/img/svg/leaf.svg);
    position: absolute;
    width: 38px;
    left: -36px;
    top: 16px;
}

.logo h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.contatcUs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 283px;
    gap: 20px;
    justify-content: space-between;
}

.designed {
    width: 100%;
    max-width: 212px;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons a{
    display: block;
}

.footer_nav {
    display: flex;
}

.item1 {
    order: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.item2 {
    order: 3;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.item3 {
    order: 4;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: start;
}

.item4 {
    order: 5;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.item5 {
    order: 6;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

.item6 {
    order: 2;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.workingHours {
    width: 100%;
    max-width: 320px;
    text-align: center;
}



/* contactUs */
.contactUs {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    transform: translateX(-100%);

}

.contactUs .fill {
    background-color: rgba(000, 000, 000, .8);
    width: 100%;
    height: 100%;
    min-height: 550px;
    position: absolute;
    z-index: -1;
}

.contactUs__inner {
    background: url(../../assets/img/jpg/intro/bg.jpg) center center;
    border: 2px solid var(--activelink);
    border-radius: 20px;
    max-width: 320px;
    padding: 20px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--Black_blue);
    height: fit-content;
    position: relative;
}


.contactUs .x_icon2 {
    position: absolute;
    right: 10px;
    top: 10px;

}

.contactUs .x_icon2 {
    cursor: pointer;
    transition: all .3s linear;
}

.contactUs .x_icon2.rotate {
    opacity: 1;
}

.contactUs .x_icon2:hover {
    transform: rotate(360deg);
}

@media (max-height:550px) {
    .contactUs {
        align-items: unset;
    }
}

.contactUs__inner .subtitle {
    color: black;
    text-align: center;
}

.openContact {
    left: 0;
    right: 0;
    transform: translateX(0);
    transition: all .2s linear;

}
/* /contactUs */

.workingHours{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1;

}

.regimRaboty {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.workingHours img{
    width: 16px;
}

.daysWeek {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.dayWeeek{
    padding: 8px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 3px;
}

.dayWeeek:nth-child(6),
.dayWeeek:nth-child(7) {
    background-color:var(--activelink);
}


@media (max-width:1000px) {
    .footer__inner {
        grid-template-columns: 1fr 1fr;

    }
    .item2 {
        justify-content: flex-start;
    }
    .item3 {
        justify-content: flex-end;
        order: 6;
    }
    .social{
        flex-direction: row;
    }
    .item4 {
        justify-content: flex-start;
    }
    .item5 {
        order: 4;
        align-items: flex-start;
    }
    .item6 {
        justify-content: flex-end;

    }


}

@media (max-width:700px) {
    .footer__inner {
        grid-template-columns: 1fr;

    }
    .item1 {
        justify-content: center;
        align-items: center;
        order: 1;

    }

    .item2 {
        justify-content: center;
        align-items: center;
        order: 4;
    }
    .item3 {
        justify-content: center;
        align-items: center;
        order: 3;
    }
    .social{
        flex-direction: row;
        align-items: center;
    }
    .item4 {
        justify-content: center;
        align-items: center;
        order: 5;
    }
    .item5 {
        order: 6;
        justify-content: center;
        align-items: center;
    }
    .item6 {
        justify-content: center;
        align-items: center;
        order: 2;
    }


}


/* /footer */