/* footer */

footer {
    background-color: var(--Black_blue);
    color: white;
}

.footer__inner {
    padding: 40px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-content: space-between;
}

.logo {
    width: 140px;
    min-width: 140px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    padding: 5px;
}

.logo span{
    position: relative;
}

.logo span::before {
    content: url(../../assets/img/svg/leaf.svg);
    position: absolute;
    width: 38px;
    left: -36px;
    top: 16px;
}

.logo h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.contatcUs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 283px;
    gap: 20px;
    justify-content: space-between;
}

.designed {
    width: 100%;
    max-width: 212px;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons a{
    display: block;
}

.footer_nav {
    display: flex;
}

.item1 {
    display: flex;
    width: fit-content;
    order: 1;
}

.item2 {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    order: 2;
}

.item3 {
    display: flex;
    align-items: flex-end;
    order: 3;
}

.item4 {
    display: flex;
    align-items: flex-end;
    order: 4;
}

.item5 {
    display: flex;
    align-items: flex-end;
    order: 5;
}

@media (max-width:960px) {
    .footer__inner{
        padding: 30px 0;
    }

    .item2 {
        width: 70%;
    }

}

@media (max-width:850px) {
    .item2 {
        width: fit-content;
    }

    .item3 {
        align-items: flex-start;
    }

}

@media (max-width:650px) {

    /* .icons p{
      display: none;
    } */

    .item3 {
      width: 20%;
    }

    .item5 {
      width: 51%;
      justify-content: end;
    }

    .social {
      flex-direction: row;
    }

    .item4 {
      width: 100%;
      order: 6;
      justify-content: center;
    }

}

@media (max-width:500px) {

    /* .icons p{
      display: none;
    } */

    .item3 {
      width: 20%;
    }

    .item2 {
        /* display: none; */
        width: 100%;
        justify-content: center;
    }

    .item5,
    .item3,
    .item1 {
      width: 100%;
      justify-content: center;
    }

    .designed,
    .little {
        width: 100%;
        text-align: center;
    }

    .social {
      flex-direction: row;
    }

    .item4 {
      width: 100%;
      order: 6;
      justify-content: center;
    }

}

/* contactUs */
.contactUs {    
    position: fixed;    
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    left: -1000%;
}

.contactUs .fill {
    background-color: rgba(000, 000, 000, .8);
    width: 100%;
    height: 100%;
    min-height: 550px; 
    position: absolute;
    z-index: -1;
}

.contactUs__inner {
    background: url(../../assets/img/jpg/intro/bg.jpg) center center;
    border: 2px solid var(--activelink);
    border-radius: 20px;
    max-width: 320px;
    padding: 20px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--Black_blue);
    height: fit-content;
    position: relative;
}


.contactUs .x_icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

@media (max-height:550px) {
    .contactUs {
        align-items: unset;
    }
}

.contactUs__inner .subtitle {
    color: black;
    text-align: center;
}

.open {
    left: 0;
    right: 0;

}
/* /contactUs */



/* /footer */