/* popup */

.popups{
    position: fixed;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: all .3s linear;
    opacity: 0;

}

.open{
    opacity: 1;
    left: 50%;
}


.popup_inner {
    position: relative;
    padding: 20px 36px 17px 17px;
    height: 100%;
    width: 100%;
    background-color: white;
}

.popup_inner .testimonials__inner_item {
    height: 100%;
    width: 267px;
    padding: 2px;
    border-radius: 20px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.popup_inner .x_icon {
    opacity: 0;
    position: absolute;
    top: -7px;
    right: -24px;
    cursor: pointer;
    transition: all .3s linear;
}

.popup_inner .x_icon.rotate {
    opacity: 1;
}

.popup_inner .x_icon:hover {
    transform: rotate(360deg);
}



.popup_inner .item__body {
    background: var(--Light_gray);
    border-radius: 20px;
    padding: 8px 13px;
    width: 100%;
    height: 100%;
}

.popup_inner .testimonials__content p {
    -webkit-line-clamp: 17;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.fon__popup{
    position: absolute;
    background-color: #000000;
    opacity: .5;
    height: 100%;
    transition: all .3s linear;
    cursor: pointer;
    z-index: 999;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}



/* /popup */

.v_razrabotke {
    background-color: #3e0866;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(0, 0);
    overflow: auto;
    position: absolute;
}

.v_razrabotke .popup_inner {
    padding: 50px 10px;
    background: transparent;
}

.v_razrabotke .x_icon {
    display: none;
}

.popupInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-content: center
}

.v_razrabotke .img img {
    width: 100%;
    max-width: 320px;
}

.v_razrabotke .descr {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.v_razrabotke .social {
    flex-direction: row;
}

@media (max-height: 570px) {
    .img {display: none;}

}