.sertification {
    padding-top: 50px;
}

.sertification ul {
    display: flex;
    gap: 16px;
    flex-direction: column;
}


.sertification li {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.karty {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.karta {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}