/* singl */
.singl {
    padding-top: 50px;
    transition: 0.2s ease-out;

}

.post {
    text-indent: 30px;
    line-height: 2em;
}

.post li{
    text-indent: 0px;
    margin-left: 30px;

}

.singl h2 {
    text-align: center;

}

.singl h2::first-letter {
    text-transform: uppercase;
}

.singl .content {
    display: flex;
    flex-direction: column;
    margin: 88px 0;
    /* gap: 20px; */
}

.singl .content img {
    margin: 20px auto;
    width: 100%;
    max-width: 50vh;
    padding: 4px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.singl .post{
    text-align: justify;
}

.singl table {
    margin: 20px 0;
    width: 100%;
    border: none !important;
}

.singl  td {
    /*border: 1px solid var(--Black_blue);*/
    /*border-radius: 3px;*/
    width:  fit-content;
    /*background-color: white;*/
    padding:10px;
    margin: 20px auto;
    border: 2px solid var(--Light_gray);

}


.singl  tr:nth-child(even) {
    background-color: rgba(249, 128, 75, .2);
}

.singl  tr:nth-child(odd) {
    background-color: rgba(249, 128, 75, .4);
}

.singl  th {
    color: var(--activelink);
    border: 1px solid var(--Black_blue);
}

.back {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    position: relative;
    margin-top: 50px;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: 13px;
    font-style: italic;
    cursor: pointer;
}

.backSvg {
    position: relative;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
    width: 32px;
    height: 32px;
    background-color: var(--Light_gray);
    border-radius: 100%;
    transition: all linear .3s;
}

.backSvg .krug{
    position: absolute;
    background-color: var(--Green);
    border-radius: 100%;
    top: 4px;
    left: 4px;
    transition: all linear .3s;
    width: 24px;
    height: 24px;
    z-index: 1;
}

.treug {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
    border: 8px solid transparent; border-bottom: 8px solid white;
}

.back:hover .krug{
    transform: rotate(-90deg);
}

.back:hover {
    font-style: normal;
}



@media (max-width:780px){

    .singl {
        padding: 80px 0;
    }

    .singl .content {
        margin-top: 40px;
    }

}


/* /singl */