/* main-css */
@import url(../../assets/fonts/roboto.css);
@import url(../../assets/css/main_page.css);
@import url(../../assets/css/nav.css);



:root {
    --Black_blue: #333B41;
    --Gray: #767474;
    --Gray_smoky: #ABABAB;
    --Light_gray: #F1F3F2;
}



*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--Black_blue);
}

.wrapper {
    width: 100%;
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
}

@media (max-width:640px){
    .wrapper {
        padding: 0 20px;
    }
}

@media (max-width:400px){
    .wrapper {
        padding: 0 10px;
    }
}

.post {
    margin: 20px 0;
    text-indent: 30px;
    text-align: justify;
}