.menu {
    margin: 0;
    display: flex;
    /* Works well with 100% width  */
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColorMenu);
  }

  .menu__inner {
    display: flex;
    font-size: 1.2em;
    padding: 0 2.85em;
    position: relative;
    box-sizing: inherit;
    width: 100%;
    max-width: 32.05em;
  }

  .menu__item {
    all: unset;
    flex-grow: 1;
    z-index: 1;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut, var(--duration));
    transition: all .8s linear;
  }

  .menu__item::before {
    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);
  }

  .menu__item.active {
    transform: translate3d(0, -0.8em, 0);
  }

  .menu__item .icon{
    opacity: .1;
  }

  .menu__item.active .icon{
    opacity: 1;
  }

  .menu__item:hover .icon{
    stroke: var(--activelink);
    opacity: 1;
  }

  .menu__item.active:hover .icon{
    stroke: white;
    opacity: 1;
  }

  .menu__item:active .icon{
    stroke: var(--Green);
  }

  .menu__item.active::before {
    transform: scale(1);
    background-color: var(--bgColorItem);
  }

  .icon {
    width: 2.6em;
    height: 2.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
    transition: all .3s linear;
    animation: draw 5s reverse;
    animation-iteration-count:infinite;
  }

  .more {
    stroke-width: 1.2pt;
  }

  .menu__item.active .icon {
    animation: strok 1.5s reverse;
  }

  .logoSt0{
    fill:none;
    stroke:#000;
    stroke-width:5;
    stroke-miterlimit:10;
    stroke-dasharray:4240;
    animation: strok2 2s linear;
  }

  .logoSt1{
    fill:#000;
    animation: check_c_o 1000ms linear 1 normal forwards
  }

  @keyframes check_c_o {
    0% {opacity: 0}
    79% {opacity: 0}
    80% {opacity: 0.3}
    100% {opacity: 1}
  }

  .logoSt11{
    fill:#000;
    animation: check_c_o 1000ms linear 1 normal forwards
  }


  @keyframes check_c_o {
    0% {opacity: 0}
    79% {opacity: 0}
    80% {opacity: 0.3}
    100% {opacity: 1}
  }

  @keyframes strok2 {
    0% {
      stroke-dashoffset: 4240;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }



  @keyframes strok {
    100% {
      stroke-dashoffset: 400;
    }
  }

  .menu__border {
    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut, var(--duration));
  }

  .svg-container {
    width: 0;
    height: 0;
  }

  @media screen and (max-width: 50em) {
    .menu__inner {
      font-size: 0.8em;
    }
  }

  @media screen and (max-height: 600px) {
    .menu__inner {
      font-size: 0.8em;
    }
  }





@keyframes draw {
  0%{
    opacity: 1;
    stroke: var(--activelink);

  }

  50% {

    opacity: .2;
    stroke: white;

  }

  100% {
    opacity: 1;
    stroke: var(--activelink);

  }
}




