/* popup */

.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
}

.popup_inner {
    position: relative;
    width: fit-content; 
    max-width: 95vh;  
    border: 3px solid var(--primary-bg-color);
    box-shadow: 0 0 10px rgba(255,255,255,0.8);
}

.popup_inner img {
    width: 100%;      
}

.close_popup {    
    position: relative;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--button-background-color);    
    top: 10px;
    right: 10px;
    border-radius: 100%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.close_popup::after,
.close_popup::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    background-color: var(--button-text-color);
    top: 50%;
    left: 50%;
}

.close_popup::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close_popup::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close_popup:hover {
    background-color: var(--button-background-hover-color);
    transform: rotate(180deg);
}

